<script>
import WhatIAm from '/src/components/WhatIAm.svelte'

</script>



# Eli T. Drumm

## Hi! <span class="regular">I am a<WhatIAm /></span>

![Eli and Shannon](/static/img/me/fernshirt.jpg)

### <span class="regular">I'm glad you're here.</span>


<style lang="postcss">
.regular {
  font-weight: normal;
}

img {
  height: 40rem;
  margin: 0 2rem;
}
</style>